registry=https://registry.npmjs.org/
replace-registry-host=https://packages.applied-caas-gateway1.internal.api.openai.org/artifactory/api/npm/npm-public
omit-lockfile-registry-resolved=true
audit=false
fund=false
progress=false
include=dev
