registry=https://registry.npmjs.org/
package-lock=false
replace-registry-host=https://packages.applied-caas-gateway1.internal.api.openai.org/artifactory/api/npm/npm-public
audit=false
fund=false
progress=false
include=dev
